<%= form_for @order do |f| %>
<div class="alpha_wrapper">
  <div id="step1_intro" class="step">
    <div class="decorative_stripe"></div>
    <div class="width_limiter">

      <div class="intro_container">
        <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>

        <h3>Why hello there!</h3>
        <p>
          Ready for an awesome surprise? HungryBelly takes the decision out of dinner, by sending you a hand-picked delicious meal we hope you'll love.
        </p>
        <h5>Here are a couple of things to keep in mind:</h5>
        <ul>
          <li data-number="1.">
            This app is in its testing phase. If you run into trouble or need help, call Ellen at <span class="yellow">647-298-8996</span>.
          </li>
          <li data-number="2.">
            We're taking orders from 11AM to 9PM, 7 days a week.
          </li>
          <li data-number="3.">
            For now, we don't take debit or credit cards. Please have cash for the delivery person.
          </li>
        </ul>

      </div>

      <div class="state_btn" id="state_btn_1" data-state-desired="2">
        Got it, let's start!
      </div>

      <div class="testers">
        <i class="fa fa-heart"></i>
        Thanks for helping us test our app!
      </div>
    </div>
  </div>

  <div id="step2_cuisines" class="step">
    <div class="width_limiter">
      <%= fields_for :cuisines do |cfield| %>
        <% Cuisine.all.each do |cuisine| %>

          <%= cfield.check_box cuisine.name, {multiple: true, class: 'cuisine_checkbox'}, cuisine.id, nil %>
        <% end %>
      <% end %>

      <div class="cuisine_container">
        <h2>What are you Craving?</h2>
        <h4>Click all that apply.</h4>
        <div class="grid">
          <div class="c6-s">
            <div class="cat_btn">Indian</div>
            <div class="cat_btn">Chinese</div>
            <div class="cat_btn">Japanese</div>
          </div>
          <div class="c6-s">
            <div class="cat_btn">American</div>
            <div class="cat_btn">Greek</div>
            <div class="cat_btn">Italian</div>
          </div>
        </div>
      </div>

      <div class="state_btn" id="state_btn_2" data-state-desired="3">
        I'm Not Picky
      </div>


    </div>
  </div>

  <div id="step3_options" class="step">
    <div class="width_limiter">
      <div class="grid">
        <div class="c6">
          <div class="choice bg_green">
            <h2>How many servings would you like?</h2>
            <%= f.select(:servings, options_for_select(
              [ ['1 person', 1], ['2 people', 2], ['3 people', 3], ['4 people', 4], ['5 people', 5], ['6 people', 6] ], 2
            ), class: 'step3_dropdown') %>
            
            <p class="click_change green">Click or tap to change.</p>
          </div>
        </div>
        <div class="c6">
          <div class="choice bg_blue">
            <h2>What's your budget per serving?</h2>
            <%= f.select(:budget, options_for_select(
              [ ['$15 - $20', 20], ['$20 - $25', 25], ['$25 - $30', 30], ['$30 - $35', 35] ]
            ), class: 'step3_dropdown') %>
            <p class="click_change blue">Click or tap to change.</p>
          </div>
        </div>
      </div>
      
     
    
      <h3 class="delivery_header">Delivery Address</h3>
      <div class="address_inputs">
        <input type="text" name="firstname" class="firstname" placeholder="First Name">
        <input type="text" name="lastname" class="lastname" placeholder="Last Name">
        <input type="text" name="street" class="street" placeholder="Street">
        <input type="text" name="postal" class="postal" placeholder="Postal Code">
        <input type="text" name="phone" class="phone" placeholder="Phone">
        <input type="text" name="email" class="email" placeholder="Email">
      </div>

      <div class="state_btn" id="state_btn_3" data-state-desired="4">Submit</div>
    </div>
  </div>




  <div id="step4_notes" class="step">
    <div class="width_limiter">
      <div class="notes_container">
        <div class="toknow">Things we should know...</div>
          <div class="notes_text">
            <p class="allergies"> If you have <strong>allergies*</strong> or any other <strong>food preferences*</strong> <span class="italicize">(i.e. extreme hatred towards pickles, vegetarian, lactose intolerant, etc.)</span>, please let us know!</p>

            <p class="inform">*We will inform the restaurant of your dietary restrictions, but it cannot be 100% guaranteed.</p>

            <textarea rows="10" placeholder="(i.e. I am allergic to shrimp!)"></textarea>

          </div>

      <div class="state_btn" id="state_btn_4" data-state-desired="5">On we go!</div>
      </div>
    </div>
  </div>


  <div id="step5_confirmation" class="step">
    <div class="width_limiter">
      <div class="last_thing">Oh, one last thing...</div>
        <div class="summary1_container">

        <p> We just want to make sure we got your order right. <strong>Please review!</strong></p>

          <div class="summarize">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait</p>
          </div>

        
        <input type="submit" value="Feed Me!" id="state_btn_5" data-state-desired="6" class="state_btn modalButton button red text-blanco text-shadow-negra feedme">

      </div>
    </div>
  </div>

  <div id="step6_thankyou" class="step">
    <div class="width_limiter">
      <div class="cs_logo3"><%= render partial: 'logo_sample.svg' %></div>
        <div class="ty_final">
          <p class="ty">Thank you!</p>
          <p class="arrive">Your food should arrive shortly!</p>
          <p>In the event that the food delivery is taking longer than 60 minutes, please contact Ellen at <span class="phone">647-298-8996</span>.</p>
          <p class="enjoy">Enjoy!</P>
        </div>
    </div>
  </div>












  <div class="usernotes_container">

    <p> If you have allergies* or any other food preferences* (i.e. extreme hatred towards pickles, vegetarian, lactose intolerant etc.), please let us know!</p>

    <p>*We will inform the restaurant of your dietary restrictions, but it cannot be 100% guaranteed</p>

    <textarea rows="10" placeholder="I am allergic to shrimp!"></textarea>


  </div>

  <br><br><br>


  <div class="summary2_container">
      <p>- customer order summary</p>
      <p>- customer notes</p>
      <p>- feed me button</p>
  </div>


  <br><br><br>

  <div class="final_ty_container">
      <div class="cs_logo2"><%= render partial: 'logo_sample.svg' %></div>
      <div class="final_ty_text">
        <p>Now sit back and let your belly be fed!</p>
        <p>We hope you enjoy your surprise!</p>
        <p>Since you're one of our first testers, we would love to hear your feedback!</p>


         <p>If you think your food got lost (more than 45 minute wait time), have no fear! Call Ellen and she will get it fixed right away! 647-298-8996.
      </div>
  </div>


</div>
<% end %>

<script>
$(document).ready(function() {
  var
  current_state = 1,
  states = {
    '#step1_intro':      1,
    '#step2_cuisines':   2,
    '#step3_options':    3,
    '#step4_notes':      4,
    '#step5_confirmation': 5,
    '#step6_thankyou': 6
  },
  cuisines = {
    'Indian':     false,
    'Chinese':    false,
    'Japanese':   false,
    'American':   false,
    'Greek':      false,
    'Italian':    false
  },
  num_of_cuisines = 0;

  var change_state = function() {
    var desired_state = $(this).data('state-desired');

    // Are we going FORWARD through the app?
    if ( desired_state > current_state ) {
      _.each(states, function(value, key) {
        if ( value === current_state ) {
          var offset = "-" + $(window).height() + "px";
          $(key).animate({
            marginTop: offset
          }, 1000);
        }
      });

      current_state = desired_state;
    }
  }

  var toggle_cuisine = function() {
    var clicked_cuisine = $(this).text();

    if ( cuisines[clicked_cuisine] === true ) {
      $(this).removeClass("selected");
      $("#cuisines_"+clicked_cuisine).prop("checked", false);
      cuisines[clicked_cuisine] = false;
      num_of_cuisines--;
    } else {
      $(this).addClass("selected");
      $("#cuisines_"+clicked_cuisine).prop("checked", true);
      cuisines[clicked_cuisine] = true;
      num_of_cuisines++;
    }

    if (num_of_cuisines > 0) {
      $("#state_btn_2").text("Lock In Selection");
    } else {
      $("#state_btn_2").text("I'm Not Picky");
    }
  };

  var toggle_price_disable = function() {
    var selected_servings = $(this).val();

    if ( selected_servings == '1' ) {
      if ( $("#order_budget").val() == 20 ) {
        $("#order_budget").val(25);
      }
      $("#order_budget option:first-child").prop("disabled", true);

    } else {
      $("#order_budget option:first-child").prop("disabled", false);
    }
  };

  $("#order_servings").on("change", toggle_price_disable);

  $(".state_btn").on("click", change_state);
  $(".cat_btn").on("click", toggle_cuisine);
});
</script>